html,
body {
	height: 100%;
}

body {
  min-width: 600px;
  min-height: 475px;
  padding: 0.5rem 1rem 1rem 1rem;
}

#error-alert {
    display: none;
}

#invalid-host-alert {
    display: none;
}

#copy-to-clipboard-input {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

sp-action-menu {
    border: solid 1px #cacaca;
    background-color: #fafafa;
    border-radius: 3px;
    height: 30px;
}

sp-action-button, sp-action-menu {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

[section] { display: none; }
[selected="1"] + .tabs-content [section="1"] { display: block;}
[selected="2"] + .tabs-content [section="2"] { display: block;}
[selected="3"] + .tabs-content [section="3"] { display: block;}

.tabs-content { 
    padding-top: 1rem;
}

.tabs-content .spectrum-Heading {
    margin: 1rem 0 .5rem 0;
}


.loader.loader--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.loader.loader--progress {
    margin-top: 200px;
}


.browse-content__list {
    padding-inline-start: 20px;
}

.browse-content__list.open {
    display: block !important;
}

.browse-content__list .browse-content__list {
    display: none;
}

.browse-content__item--resource { font-weight: 600; color: darkblue }
.browse-content__item--label { font-weight: 600; }
.browse-content__item--value { font-weight: 1; }